* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

Body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

.calculator{
    width: 310px; 
    padding: 15px;
    background-color: rgb(100, 95, 95);
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(4, 70px);
} 

input {
    grid-column: span 4;
    padding: 15px;
    height: 70px;
    width: 280px;
    background-color: #eef1f5;
    border: none;
    outline: none;
    border-radius: 15px;
    margin: 20px 0;
    font-size: 50px;
    text-align: end;
}

button {
    height: 48px;
    margin: 3px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 900;
}

#clr {
    background-color: red;
    color: #fff;
}

#del {
    background-color: red;
    color: #fff;
}

.sign {
    background-color: rgb(86, 183, 240);
    color: #fff;
}

#equal {
    background-color: rgb(11, 182, 11);
    color: #fff;
}




